<!-- modal code -->
<div id='recommendation_modal' class='modal'>
  <div class="modal-content">
      <h4>Online Sales Recommendations</h4>
      <br>
      <p id="modal_text">Here's your recommended HarvestBox sales plan for this week.</p>
      <br>
      <table class="responsive-table striped">
              <thead>
                <tr>
                    <th>Category</th>
                    <th>Item Name</th>
                    <th>Units</th>
                    <th>Price/Unit </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Fruit</td>
                  <td>Avacado</td>
                  <td>12 Itms</td>
                  <td>$1.99/Itms</td>
                </tr>
                <tr>
                  <td>Fruit</td>
                  <td>Apple</td>
                  <td>3 lbs</td>
                  <td>$1.99/lb</td>
                </tr>
                <tr>
                  <td>Fruit</td>
                  <td>Banana</td>
                  <td>3 lbs</td>
                  <td>$0.99/lb</td>
                </tr>
                <tr>
                  <td>Fruit</td>
                  <td>Blueberry</td>
                  <td>1 Box</td>
                  <td>$2.79/box</td>
                </tr>
              </tbody>
            </table>
    </div>
    <div class="modal-footer">
      <a href="#!" id='add_to_sales' class="modal-action modal-close waves-effect waves-green btn">Add to sales</a>
    </div>
</div>

<!-- Middle Content -->
<div class="row">
  <div class="col s11 m12">
    <div class="card ">
      <div class="card-content">
        <span class="card-title">Sales History</span>
        
         

            <!--   Icon Section   -->
           <table class="responsive-table striped">
              <thead>
                <tr>
                    <th>Category</th>
                    <th>Item Name</th>
                    <th>Units</th>
                    <th>Price/Unit </th>
                    <th>Date</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Fruit</td>
                  <td>Avacado</td>
                  <td>28 Itms</td>
                  <td>$3.99/Itms</td>
                  <td>03/23/2018</td>

                </tr>
                <tr>
                  <td>Fruit</td>
                  <td>Apple</td>
                  <td>17 lbs</td>
                  <td>$3.99/lb</td>
                  <td>03/23/2018</td>

                </tr>
                <tr>
                  <td>Fruit</td>
                  <td>Banana</td>
                  <td>17 lbs</td>
                  <td>$1.99/lb</td>
                  <td>03/23/2018</td>

                </tr>
                <tr>
                  <td>Fruit</td>
                  <td>Blueberry</td>
                  <td>19 Boxes</td>
                  <td>$4.79/box</td>
                  <td>03/23/2018</td>

                </tr>
                <tr>
                  <td>Vegetable</td>
                  <td>Lettuce</td>
                  <td>20 lbs</td>
                  <td>$2.50/lb</td>
                  <td>03/23/2018</td>

                </tr>
              </tbody>
            </table>
  </div>
</div>


<div class="row">
  <div class="col s11 m12">
    <div class="card ">
      <div class="card-content">
        <span class="card-title">Purchase History 
            <a class="btn-floating btn-medium waves-effect waves-light" id='anna_refresh'>
                <i class="material-icons">refresh</i></a></span>
        <hr>
        <br>
        <div class="row">
        <table class="responsive-table striped">
        <thead>
          <tr>
              <th>Category</th>
              <th>Item Name</th>
              <th>Units</th>
              <th>Price/Unit </th>
              <th>Date</th>
              <th>Condition</th>
          </tr>
        </thead>

         <tbody>
          <tr>
            <td>Fruit</td>
            <td>Avacado</td>
            <td>40 Itms</td>
            <td>$0.99/Itms</td>
            <td>03/23/2018</td>
            <td>Display quality</td>
          </tr>
          <tr>
            <td>Fruit</td>
            <td>Apple</td>
            <td>20 lbs</td>
            <td>$0.99/lb</td>
            <td>03/23/2018</td>
            <td>Display quality</td>
          </tr>
          <tr>
            <td>Fruit</td>
            <td>Banana</td>
            <td>20 lbs</td>
            <td>$0.99/lb</td>
            <td>03/23/2018</td>
            <td>Display quality</td>
          </tr>
          <tr>
            <td>Fruit</td>
            <td>Blueberry</td>
            <td>20 Boxes</td>
            <td>$0.79/box</td>
            <td>03/23/2018</td>
            <td>Display quality</td>
          </tr>
           <tr>
            <td>Vegetable</td>
            <td>Lettucec</td>
            <td>20 lbs</td>
            <td>$0.50/lb</td>
            <td>03/23/2018</td>
            <td>Display quality</td>
          </tr>
        </tbody>
      </table>
            <br>
            <p align="right">We compare your purchase andd sales data, and recommend online promotion based on how much excess produce you have left.</p><br>
          <button data-target="recommendation_modal" id='anna_recommendation' class="btn modal-trigger" style="float: right;">Recommend Sales<i class="material-icons right">send</i></button>
        </div>
      </div>
    </div>
  </div>
</div>
