<!-- modal code -->
<div id='submit_modal' class='modal'>
  <div class="modal-content">
      <h4>Confirm Purchases Before Submit</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" id='final_submission' class="modal-action modal-close waves-effect waves-green btn-flat">Confirm</a>
      <a href="#!" id='cancel_submission' class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

<!-- Middle Content -->
<div class="row">
  <div class="col s11 m12">
    <div class="card ">
      <div class="card-content">
        <span class="card-title">Overview</span>
        <div class="container">
          <div class="section">

            <!--   Icon Section   -->
            <div class="row">
              <div class="col s11 m4">
                <div class="icon-block" id="anna_test">
                  <h4 class="center" color="green">4 days</h4>
                  <br>
                  <p id="anna_testp">Until Next Delivery </p>
                </div>
              </div>

              <div class="col s11 m4">
                <div class="icon-block" id="anna_test2">
                  <h4 class="center" color="green">2.5 K</h4>
                  <br>
                  <p>From HarvestBox this month</p>
                </div>
              </div>

              <div class="col s11 m4">
                <div class="icon-block">
                  <h5 class="center light-blue-text"><i class="medium material-icons">assignment_turned_in</i></h5>
                  <p id="anna_testp">Inventory up to date!</p>
                </div>
              </div>
            </div>

          </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s11 m12">
    <div class="card ">
      <div class="card-content">
        <span class="card-title">Purchases</span>
        <hr>
        <br>
        <div class="row">
          <form class="col s12" id='anna_form' style="font-size:12pt">
            <div class="row">
              <div class="input-field col s2">
                <input id="icon_cat" type="text" value="Fruit" class="validate">
                <label for="icon_cat">Category</label>
              </div>
              <div class="input-field col s3">
                <input id="icon_name" type="text"  value="Avacado" class="validate">
                <label for="icon_name">Item Name</label>
              </div>
              <div class="input-field col s1">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_unit" type="number"  value=40 class="validate">
                <label for="icon_unit"># Units</label>
              </div>
              <div class="input-field col s3">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_date" type="date"  value="2018-03-23" class="validate">
                <!-- <label for="icon_date">Stock Date</label> -->
              </div>
              <div class="input-field col s1">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_price" type="number"  value=0.99 class="validate">
                <label for="icon_price">Price/Unit</label>
              </div>
              <div class="input-field col s2">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_condition" type="text"  value="Display Quality" class="validate">
                <label for="icon_condition">Condition</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s2">
                <input id="icon_cat" type="text" value="Fruit" class="validate">
                <label for="icon_cat">Category</label>
              </div>
              <div class="input-field col s3">
                <input id="icon_name" type="text"  value="Apples" class="validate">
                <label for="icon_name">Item Name</label>
              </div>
              <div class="input-field col s1">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_unit" type="number"  value=10 class="validate">
                <label for="icon_unit"># Units</label>
              </div>
              <div class="input-field col s3">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_date" type="date"  value="2018-03-23" class="validate">
                <!-- <label for="icon_date">Stock Date</label> -->
              </div>
              <div class="input-field col s1">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_price" type="number"  value=0.99 class="validate">
                <label for="icon_price">Price/Unit</label>
              </div>
              <div class="input-field col s2">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_condition" type="text"  value="Display Quality" class="validate">
                <label for="icon_condition">Condition</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s2">
                <input id="icon_cat" type="text" value="Fruit" class="validate">
                <label for="icon_cat">Category</label>
              </div>
              <div class="input-field col s3">
                <input id="icon_name" type="text"  value="Banana" class="validate">
                <label for="icon_name">Item Name</label>
              </div>
              <div class="input-field col s1">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_unit" type="number"  value=10 class="validate">
                <label for="icon_unit"># Units</label>
              </div>
              <div class="input-field col s3">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_date" type="date"  value="2018-03-23" class="validate">
                <!-- <label for="icon_date">Stock Date</label> -->
              </div>
              <div class="input-field col s1">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_price" type="number"  value=0.99 class="validate">
                <label for="icon_price">Price/Unit</label>
              </div>
              <div class="input-field col s2">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_condition" type="text"  value="Display Quality" class="validate">
                <label for="icon_condition">Condition</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s2">
                <input id="icon_cat" type="text" value="Fruit" class="validate">
                <label for="icon_cat">Category</label>
              </div>
              <div class="input-field col s3">
                <input id="icon_name" type="text"  value="Blueberry" class="validate">
                <label for="icon_name">Item Name</label>
              </div>
              <div class="input-field col s1">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_unit" type="number"  value=20 class="validate">
                <label for="icon_unit"># Units</label>
              </div>
              <div class="input-field col s3">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_date" type="date"  value="2018-03-23" class="validate">
                <!-- <label for="icon_date">Stock Date</label> -->
              </div>
              <div class="input-field col s1">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_price" type="number"  value=0.79 class="validate">
                <label for="icon_price">Price/Unit</label>
              </div>
              <div class="input-field col s2">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_condition" type="text"  value="Display Quality" class="validate">
                <label for="icon_condition">Condition</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s2">
                <input id="icon_cat" type="text" class="validate">
                <label for="icon_cat">Category</label>
              </div>
              <div class="input-field col s3">
                <input id="icon_name" type="text" class="validate">
                <label for="icon_name">Item Name</label>
              </div>
              <div class="input-field col s1">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_unit" type="number"  class="validate">
                <label for="icon_unit"># Units</label>
              </div>
              <div class="input-field col s3">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_date" type="date"   class="validate">
                <!-- <label for="icon_date">Stock Date</label> -->
              </div>
              <div class="input-field col s1">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_price" type="number"  class="validate">
                <label for="icon_price">Price/Unit</label>
              </div>
              <div class="input-field col s2">
                <!-- <i class="material-icons prefix">phone</i> -->
                <input id="icon_condition" type="text"  class="validate">
                <label for="icon_condition">Condition</label>
              </div>
            </div>
            
          </form>
          <a class="btn-floating btn-large waves-effect waves-light" id='anna_add'><i class="material-icons">add</i></a>
          <button data-target="submit_modal" id='anna_button' class="btn modal-trigger" style="float: right;">Submit<i class="material-icons right">send</i></button>
        </div>
      </div>
    </div>
  </div>
</div>
