<!-- modal code -->
<div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <br><br>
     <h1 class="header center orange-text">Added to Sale!</h1>
     <div class="row center">
       <h5 class="header col s12 light">Following items are added to Online Promotion on <br>Sun, Mar 25th, 2018</h5>
     </div>
     <div class="row center">
       <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Make Changes</a>
     </div>
     <br><br>
   </div>
</div>


<div class="container">
  <div class="row valign-wrapper">
    <div class="col s8 offset-s2 valign">
      <div class="card ">
        <div class="card-content ">

          <br>
          <table class="responsive-table striped">
              <thead>
                <tr>
                    <th>Category</th>
                    <th>Item Name</th>
                    <th>Units</th>
                    <th>Price/Unit </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Fruit</td>
                  <td>Avacado</td>
                  <td>12 Itms</td>
                  <td>$1.99/Itms</td>
                </tr>
                <tr>
                  <td>Fruit</td>
                  <td>Apple</td>
                  <td>3 lbs</td>
                  <td>$1.99/lb</td>
                </tr>
                <tr>
                  <td>Fruit</td>
                  <td>Banana</td>
                  <td>3 lbs</td>
                  <td>$0.99/lb</td>
                </tr>
                <tr>
                  <td>Fruit</td>
                  <td>Blueberry</td>
                  <td>1 Box</td>
                  <td>$2.79/box</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>